body{
    position: relative;
}
.wrapper{
    margin: auto;
    min-height: 93vh;
    width: 93vw;
}
header{
    display: flex;
    justify-content: space-between;
}
nav{
    min-width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
section{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}
.cards{
    display: flex;
    gap: 14px;
}
.card{
    width:90px;
    height: 160px;
    border-radius: 5px;
    transition: all .5s ease;
    background-position: center;
    background-size: cover;
    cursor: pointer;
}
.card:nth-of-type(1){
    animation: cardOneAnima 3s ease;
      transform: rotateZ(-12deg) translateX(20px);
}
.card:nth-of-type(2){
    transform: translateY(-22px);
    z-index: 1;
    border: solid #f0ffff4f;
}
.card:nth-of-type(3){
    animation: cardThreeAnima 3s ease;
    transform: rotateZ(12deg) translateX(-20px);
}
/*Card display animations*/
@keyframes cardOneAnima {
    from{
        transform: rotateZ(0) translateX(50%) translateY(-10px);
    }
    to {
      transform: rotateZ(-12deg) translateX(20px);
    }
}
@keyframes cardThreeAnima {
    from{
        transform: rotateZ(0) translateX(-50%) translateY(-10px);
    }
    to {
        transform: rotateZ(12deg) translateX(-20px);
    }
}
.card:hover{
    transform: scale(1.1);
  filter: drop-shadow(0 0 1em #646cff6b);
}
.card:hover > .detail{
    opacity: 1;
}
.offline{
    border: 1px solid #414141;
    background-color: rgb(255, 255, 255,.1);
    animation: offlineAnima 3s ease infinite;
    animation-delay: 0s;
}
.offline:nth-of-type(2){
    background-color: azure;
}
@keyframes offlineAnima {
    0%{
        opacity: .1;
    }
    50%{
        opacity: .8;
    }
    100%{
        opacity: .1;
    }
}

h2{
    margin: 5px;
}
p{
    margin: 3px;
}
section:nth-of-type(1){
    min-height: 72vh;
    align-items: center;
}
section:nth-of-type(2){
    min-height: 72vh;
}
section:nth-of-type(3){
    min-height: 72vh;
    padding-bottom: 50px;
    gap: 10px;
}
footer{
    min-height: 72vh;
    width: 100%;
    background-color: #232361;
}
.catagory{
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
}
.partOne{
    border-right: solid;
}
.partOne,
.partTwo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding: 0 30px;
}
.catGrid{
    width: 95%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-around;
    gap: 13px;
}
.catGrid div{
    padding: 5px 20px;
    border: solid;
    border-radius: 5px;
    transition: all .3s ease;
    cursor: pointer;
}
.catGrid div:hover{
    transform: scale(1.1);
}
.movies{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-content: space-around;
    row-gap: 40px;
}
.movie{
    width:165px;
    height: 236px;
    border-radius: 5px;
    justify-self: center;
    position: relative;
    color: white;
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
    transition: all .5s ease;
    cursor: pointer;
}
.movie:hover{
    transform: scale(1.1);
}
.movie:hover > .detail{
    opacity: 1;
}
.detail{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 96%;
    padding: 2%;
    text-align: left;
    display: flex;
    flex-direction: column;
    background: linear-gradient(transparent,rgba(0, 0, 0, 0.751),black);
    transition: all .5s ease;
    opacity: 0;
}
.detail h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
}
.detail *{
    margin: 0;
}
@media (max-width:760px) {
    #root{
        padding: 10px;
    }
    header{
        padding-top: 20px;
    }
    nav{
        display: none;

    }
    .card {
        padding: 1em;
        width:70px;
        height: 100px;
    }
    .card:nth-of-type(2){
        height: 110px;
        width: 76px;
    }
    .catagory{
        grid-template-columns: 100%;
    }
    .partOne{
        border: none;
    }
    .movie{
        width: 100%;
    }
    .movie:focus{
        transform: scale(1.1);
    }
}

@media (max-width:930px) {
    .movies{
        grid-template-columns: 25% 25% 25% 25%;
    }
}
@media (max-width:760px) {
    .movies{
        grid-template-columns: 30% 30% 30%;
    }
}
@media (max-width:460px) {
    .movies{
        grid-template-columns: 40% 40%;
    }
}